/* shared style */
.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    color: white;
    background-color: #FD6E0A;
    border-radius: 3px;
    border: none;
    font-weight: 700;
    padding: 18px 36px;
}
.section-title{
    font-weight:bold;
    color:#181818;
    font-size:35px;
}
.section-description{
    color: #757575;
    font-size: 18px;
}
.secoundary-bg{
    background-color: #FFF8F3;
}
.dark_02 {
    color: #474747;
}

/* used google font */
.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
/* nav style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-title {
    font-size: 45px;
    font-weight: 800;
}

nav ul {
    display: flex;
    align-items: center;

}

nav ul li {
    list-style: none;
    margin: 0 51px;
    font-size: 20px;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
}


/* banner */
.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 38px 0 230px;
}
.banner-description {

}
.banner-content{
    width: 580px;
}

.banner-title {
    font-size: 85px;
    font-size: 700;
}
.banner-greating {
    font-size: 45px;
    font-weight: 600;
}


/* header */
.header {
    background-image: url(/portfolio-resources/images/developer.png), url(/portfolio-resources/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* main */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* about */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin: 130px 50px;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-size: 20px;
    font-weight: bold;
}